src/main/resources/META-INF/wsdl/calc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/calc"
	xmlns:tns="http://www.example.org/calc"
	elementFormDefault="qualified">
	<!-- 外部schema -->
	<xsd:element name="add" type="tns:add"/>
	<xsd:element name="addResponse" type="tns:addResponse"/>
	<xsd:element name="authorizedUser" type="tns:user"/>
	<xsd:complexType name="add">
		<xsd:sequence>
			<xsd:element name="num1" type="xsd:int"/>
			<xsd:element name="num2" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addResponse">
		<xsd:sequence>
			<xsd:element name="addResult" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="user">
		<xsd:sequence>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>